<html>
  <head>
    <title>Tugas</title>
    <link rel="stylesheet" href="./public/css/style.css " />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
  </head>
  <body>

 <!-- Navbar-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid mx-5">
    <a class="navbar-brand me-4" href="/">
      <img src="./public/assets/logo.png" alt="logo" />
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fw-bold text-dark me-3" href="/">Home</a>
        </li>
        <li class="nav-item me-5">
          <a href="/project" class="nav-link list-active text-dark">Add Project</a>
        </li>
      </ul>
    </div>
    <div class="contact-me d-flex bg-dark rounded-3 px-2" >
      <a href="/contact" class="nav-link fw-normal text-light p-1"> Contact Me </a>
    </div>
  </div>
</nav>
<!-- Navbar -->

<div class="container-fluid d-flex justify-content-center py-5 container">
  <div class="wrapper py-5">
      <div class="right-side ">
          <div class="main">
          <h1>Hi Welcome to my hut</h1>
          </div>
          <p class="my-4 text-black-200">
            Lorem Ipsum dolor sit amet, consectetur adipsicing elit. Sed tristique
              purus orci libero egestas ut. Augue suspendisse blandit lorem massa
              ipsum,urna, egestas mi, lacinia. Dui fusce etiam libero, lectus amet,
              risus molestie malesuada. Odio nam purus consectetur euismod
              congue led quisque. Turpis amet solicitudin nunc non in lectus dolor
              amet. Amet ullamcorper facibus tincidunt accumsan ac adipiscing
              arcu. Donec tristique at proin maecenas. Ante elit er iaculis ac sit.</p>
          
          <div class="skill d-flex">
              <div class="contact">
                  <a class="btn btn-dark rounded-3 me-5" href="https://wa.me/6285269785755" target="_blank">Contact Me</a>
              </div>
              <div class="fw-bold item my-1 fs-5">
                  <a class="text-decoration-none text-dark" href="./public/assets/CV_Hari .pdf" download="./assets/CV_Hari">Download CV<img
                    class="rounded ms-2"
                    src="./public/assets/download.svg"
                    alt="icon"
                  /></a>
              </div>
          </div>
          <div class="sosmed">
              <div class="sosmed-wrapper d-flex ">
                  <div class="icon my-4 me-4">
                      <a href="https://www.linkedin.com/in/hari-handika-setiawan/" target="_blank">
                        <img class="rounded my-5"src="./public/assets/linkedin.svg" alt="icon" />
                      </a>
                  </div>
                  <div class="icon m-4">
                      <a href="https://www.instagram.com/harihandikas/" target="_blank">
                        <img class="rounded my-5"src="./public/assets/instagram.svg" alt="icon" />
                      </a>
                  </div>
                  <div class="icon m-4">
                      <a href="https://web.facebook.com/handika.setiawan.56?_rdc=1&_rdr" target="_blank">
                        <img class="rounded my-5"src="./public/assets/facebook.svg" alt="icon" />
                      </a>
                  </div>
                  <div class="icon m-4">
                      <a href="https://mobile.twitter.com/harihandika22" target="_blank">
                        <img class="rounded my-5"src="./public/assets/twitter.svg" alt="icon" />
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="left-side">
              <img src="./public/assets/hari.jpg" style="width: 100%" />
              <h2 class = "fw-bold px-2 ">Hari Handika Setiawan</h1>
              <p class = "text-black-200 fs-5" style="text-align: center">
                  Fullstack Developer
              </p>
      </div>
  </div>
</div>
      <!--My Project-->
      <div class="mp-container bg-light pt-3">
        <div class="mp-title text-center text-dark my-3">
            <h2 class="fw-bold">MY PROJECT</h2>
            {{#if isLogin}}
            <div style="text-align: right; margin-right: 150px; margin-top:50px">
            <a href="/project" class = "bg-dark rounded-3 m-5 p-2 text-light"style="text-decoration: none">Add Blog</a>
            </div>
            {{/if}}
        </div>
        <div id="contents" class="mp-card-container my-4">
          {{#each project}}
            <div class="mp-card">
                <!--MPC = My Project Card-->
                <div class="mpc-img">
                    <img class="card-img-top rounded mx-auto d-block p-2" src="/public/assets/DWB.png" alt="">
                </div>
                <div class="mpc-title">
                    <a class="text-decoration-none text-dark fw-bold text-center" href="/project-details/{{@index}}" >
                        <p class="card-title my-2"> {{this.title}} </p>
                    </a>
                </div>
                <div class="mpc-duration">
                    <small>Durasi:{{this.duration}}</small>
                </div>
                <div class="mpc-content fs-8">
                    {{this.content}}
                </div>
                <h6 class="card-subtitle text-muted text-end">{{this.postAt}}</h6>
                <div class="mpc-icons">
                    <img src="{{this.checkHtml}}" />
                    <img src="{{this.checkNode}}" />
                    <img src="{{this.checkCss}}"/>
                    <img src="{{this.checkReact}}"/>
                </div>
                {{#if isLogin}}
                <div class="mpc-mod my-3 btn-group d-flex">
                    <a href="/edit-project/{{@index}}" class="btn btn-dark me-1">Edit</a>
                    <a href="/delete-project/{{@index}}" class="btn btn-dark ms-1">Delete</a>
                </div>
                {{/if}}

            </div>
            {{/each}}
    </div>
      </div>
    <!--xMy Projectx-->
    </body>
    </html>
